.navbar {
    width: 100%;
}

.sidebar {
    height: 100vh;
    padding-left: 20px;
    background-color: gray;
    opacity: 0.8;
    color: white;
    width: 70%;
    max-width: 200px;
    position: fixed;
    z-index: 200;
    left: -100%;
    animation: slide-open 0.75s forwards;
}



.button {
    color: white;
    margin-bottom: 2rem;
}

.table {
    table-layout: fixed;
}

.sidebar-container {
    min-height: 100vh;
    background-color: lightgray;
}
/*
.sidebar {
    width: 200px;
    padding-top:  25pxx;
    
}
*/
.sidebar-link {
    padding: 10px;
    color: white;
}

.sidebar-link:hover {    
    background-color: gainsboro;
    color: gray;    
}

.sidebarButton {
    margin-left: 200px;
    animation: slide-open 0.75s forwards;
    left: -100%;
    background-color: gray;
    opacity: 0.8;
    position: fixed;
    z-index: 200;
    }

.sidebarOpenButton {
        
    background-color: gray;
    opacity: 0.8;
    position: fixed;

    }

.grid-container {
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 10px;    
}

@keyframes slide-open {
    100% { left: 0;}
}
