.navbar {
    width: 100%;
}

.sidebar {
    margin-top: 56px;
    background-color: gray;
    opacity: 0.9;
    color: white;
    max-width: 70%;
    width: 200px;
}

.button {
    color: white;
    margin-bottom: 2rem;
}

.table {
    table-layout: fixed;
}

.sidebar-link {
    padding: 10px;
    color: white;
}

.sidebar-link:hover {    
    background-color: gainsboro;
    color: black;    
}

.sidebarOpenButton {    
    background-color: gray;
    opacity: 0.8;
    position: fixed;
    }

.reactSidebarButton{
    visibility: hidden;
}

.search {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 10px;    
}

@keyframes slide-open {
    100% { left: 0;}
}
